# Database
DB_PASSWORD=password
DB_USERNAME=postgres

# Security
JWT_SECRET=super_secret_key_123

# Services URLs (for local dev without Docker)
# AUTH_SERVICE_URL=http://localhost:3001/graphql
# VEHICULES_SERVICE_URL=http://localhost:3002/graphql
# TRAFIC_SERVICE_URL=http://localhost:3003/graphql
# INCIDENTS_SERVICE_URL=http://localhost:3004/graphql
# NOTIFICATIONS_SERVICE_URL=http://localhost:3005/graphql

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000/graphql
